.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 266px;
  width: 100%;
  background: $semi-dark-navy;
  box-shadow: 24;
  padding: 4;

  .modal-title {
    color: $silver;
    margin: 1rem 0;
    letter-spacing: 3px;
  }

  .modal-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
} //modal container

//buttons
.restart-modal-btn {
  @include button-base;
  height: 52px;
  width: 52px;
  background: $silver;
  box-shadow: 0px 4px 4px #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
}

.modal-button-container {
  display: flex;
  gap: 1rem;
  font-weight: 800;
}

.modal-btn {
  @include button-base;
  height: 52px;
  max-width: 139px;
  min-width: 75px;
  padding: 1rem;
}

.modal-btn-cancel {
  background-color: $silver;
}

.modal-btn-yellow {
  background-color: $light-yellow;
}

.modal-btn-blue {
  background-color: $light-blue;
}
