//colors
$light-blue: #65e9e4;
$light-blue-hover: #31c3bd;
$light-yellow: #f2b137;
$light-yellow-hover: #ffc860;
$dark-navy: #1a2a33;
$semi-dark-navy: #1f3641;
$silver: #dbe8ed;
$silver-hover: #a8bfc9;
